.wrap{
    display: flex;
}
.wrapContent {
    width: 86%;
    position: absolute;
    left: 225px;
}
.children {
    margin-top: 78px;
    background-color: #F5F7FA;
    width: 100.7%;
    height: 2000px;
}