

.cardProduct {
    height: 395px;
    width: 280px;
    border: solid 1px #B4B1B1;
    border-radius: 5px;
    background-color: #FFFCFC;
    margin: 5px;
    text-align: left;
    display: inline-block;
}

.cardProduct img {
    height: 200px;
    width: 233px;
    margin-left: 23px;
    margin-top: 21px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.contentProduct {
    position: relative;
    margin-left: 23px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.nameProduct {
    font-weight: 700;
    font-size: 23px;
    line-height: 37px;
    display: block;
}

.idProduct {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: block;
}

.saleProduct {
    margin-left: 80px;
    color: #D70000;
    font-weight: 700;
    font-size: 16px;
}

.priceProduct {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 8px;
}

.stateProduct {
    background-color: rgba(0, 167, 17, 0.5);
    border: solid 1px rgba(0, 202, 20, 0.5);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 3px;
}