.wrapHeader {
    display: flex;
    align-items: center;
    position: relative;
}

.wrapList {
    width: 96%;
    height: 830px;
    background-color: white;
    margin: 0 auto;
    border: solid 1px #F5F7FA;
}