.wrapProduct {
    background-color: #FFFDFD;

}

.nav {
    width: 100%;
    height: 50px;
    background-color: #FFFBFB;
}

.navList {
    display: flex;
    margin-left: 11%;
}

.navList ul {
    display: flex;
    list-style-type: none;
}

.navList li {
    font-family: 'Roboto';
    font-size: 19px;
    line-height: 19px;
    color: #595959;
    font-weight: 700;
    cursor: pointer;
}

.navList li:hover {
    color: black;
}

//=============
.product {
    display: flex;
    margin-top: 12px;

}

.listImg {
    margin-left: 10%;
}

.listImg img {
    border-radius: 5px;
    margin: 5px;
}

.mainImg {
    margin-bottom: 16px;
}

.rating {
    display: flex;
    align-items: center;
}

.effectImg {
    display: flex;
    justify-content: center;
}

.rating label {
    font-family: 'Roboto';
    color: #565353;
    font-size: 16px;
    font-weight: 700;
}

.contentProduct {
    height: 360px;
    width: 625px;
    margin-left: 31px;
}

.contentProduct h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-top: 30px;
}

.contentProduct p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    line-height: 19px;
}


// --------

.stateProduct {
    color: #5A5A5A;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 14px;
}

.state {
    color: #04941B;
}

.avaliability {
    margin-right: 49px;
}

.brand {
    margin-right: 33px;
}

.statePrice {
    font-family: 'Roboto';
    margin-top: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.price {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

.sale {
    margin-left: 22px;
    height: 30px;
    width: 76px;
    background-color: #FFD333;
    color: #C90404;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

//============

.titleQuantity {
    color: #5A5A5A;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto';
}

.quantity {
    width: 162px;
    height: 42px;
    background-color: #E2E4E5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 11px;
}

.quantity label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #959595
}

.wrap {
    display: flex;
    align-items: center;
}

.btnAddToCart {
    margin-left: 19px;
    margin-top: 10px;
    width: 164px;
    height: 42px;
    background-color: #FFD333;
    border-radius: 5px;

}

.ratingReview {
    margin-top: 100px;
}

//===============

.listTitle {
    color: 'black';
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.listTitle ul {
    display: flex;
    list-style-type: none;
}

.listTitle li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 131px;
    margin-left: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.listTitle .active {
    background-color: #E7E2E2;
    border-bottom: solid 1px #FFD333;
}

.listTitle li:hover {
    background-color: #E7E2E2;
    border-bottom: solid 1px #FFD333;
}

//==========

.contentReviews {
    margin-left: 10%;
    font-family: 'Roboto';
}

.contentReviews h2 {
    font-weight: 700;
    font-size: 28;
    margin-left: 3%;
}

.review {
    width: 73%;
    margin-left: 4%;
    display: flex;
    margin-top: 30px;
}

.contentReview {
    margin-left: 20px;
    margin-top: -14px;
}

.pagination {
    margin-left: 35%;
}

//=============
.writeReview {
    margin-left: 14%;
    margin-bottom: 5%;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 28px;
}

.wrapProducts {
    display: flex;
    justify-content: center;
}

.cardProducts {
    width: 1170px;
    margin-bottom: 100px;
    display: block;
}

.titleRalated {
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleRalated h2 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 24px;
}