.listTitle {
    color: 'black';
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.listTitle ul {
    display: flex;
    list-style-type: none;
}

.listTitle li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 131px;
    margin-left: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.listTitle .active {
    background-color: #E7E2E2;
    border-bottom: solid 1px #FFD333;
}

.listTitle li:hover {
    background-color: #E7E2E2;
    border-bottom: solid 1px #FFD333;
}

//==========

.contentReviews {
    margin-left: 10%;
    font-family: 'Roboto';
}

.contentReviews h2 {
    font-weight: 700;
    font-size: 28;
    margin-left: 3%;
}

.review {
    width: 73%;
    margin-left: 4%;
    display: flex;
    margin-top: 30px;
}
.date {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    color: #5A5A5A;
}
.titleReview {
    font-size: 24px;
    font-family: 'Roboto';
    text-align: center;
}
.contentReview {
    margin-left: 20px;
    margin-top: -14px;
}

.pagination {
    margin-left: 35%;
}
