.product {
    display: flex;
    margin-top: 12px;

}

.listImg {
    margin-left: 10%;
}

.listImg img {
    border-radius: 5px;
    margin: 5px;
}

.mainImg {
    margin-bottom: 16px;
}

.rating {
    display: flex;
    align-items: center;
}

.effectImg {
    display: flex;
    justify-content: center;
}

.rating label {
    font-family: 'Roboto';
    color: #565353;
    font-size: 16px;
    font-weight: 700;
}

.contentProduct {
    height: 360px;
    width: 625px;
    margin-left: 31px;
}

.contentProduct h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-top: 30px;
}

.contentProduct p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    line-height: 19px;
}


// --------

.stateProduct {
    color: #5A5A5A;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 14px;
}

.state {
    color: #04941B;
}

.stateSoldout {
    color: #C90404;
}

.avaliability {
    margin-right: 49px;
}

.brand {
    margin-right: 33px;
}

.statePrice {
    font-family: 'Roboto';
    margin-top: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.price {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

.sale {
    margin-left: 22px;
    height: 30px;
    width: 76px;
    background-color: #FFD333;
    color: #C90404;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

//============


.wrap {
    display: flex;
    align-items: center;
}

.btnAddToCart {
    margin-left: 19px;
    margin-top: 10px;
    width: 164px;
    height: 42px;
    background-color: #FFD333;
    border-radius: 5px;

}

.ratingReview {
    margin-top: 100px;
}