.form {
    text-align: center;
}



.btnLogin {
    width: 300px;
    height: 37px;
    background-color: #FFD333;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

