.forgotForm {
    height: 395px;
    width: 832px;
    background-color: #FFFFFF;
    display: flex;
    text-align: center;
    position: relative;
}

.inputForm {
    width: 50%;
}


.inputForm p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-left: -40px;
}

.imageForm {
    width: 50%;
    height: 100%;
    background-color: #FAF096;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 68px;
}

.imageForm p {
    margin-top: 50px;
    margin-bottom: 20px;

}

.featureMore1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #646464;
}

.featureMore1 label {
    cursor: pointer;
}
.featureMore2 label {
    cursor: pointer;
}

.forgotForm h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 51px;
    margin-left: -100px;
}